<%= form_for(@kommentar) do |f| %>
  <div class="field">
    <%= f.text_area :derkommentar, rows: 6, :class => "kommentareingabe span5" %>
    <%= f.hidden_field :link_id, :value => @kommentar.link_id %>
  </div>
  <div class="actions">
    <%= f.submit name='Kommentieren' %>
  </div>
<% end %>
