<h1>Kommentare</h1>

<% @kommentare.each do |kommentar| %>
    <p><%= kommentar.autor %>:  <%= kommentar.derkommentar %></p>
    
<% end %>

<br />

<%= link_to 'New Kommentar', new_kommentar_path %>
