<% content_for :die_box do %>
<% render 'kommentare/kommentare' %>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= link_to @link.url, @link.url, :target => :_blank%>
</p>

<p>
  <b>Titel:</b>
  <%= @link.titel %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @link.beschreibung %>
</p>

